<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377718733289-d509lrlc824eetgt50u0fotf16532duc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377718733289-d509lrlc824eetgt50u0fotf16532duc</string>
	<key>API_KEY</key>
	<string>AIzaSyBpTjeC48cAf7dHuiK-PRFaq0k1TegCzXk</string>
	<key>GCM_SENDER_ID</key>
	<string>377718733289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.til.voicelytrivia</string>
	<key>PROJECT_ID</key>
	<string>voicely-trivia</string>
	<key>STORAGE_BUCKET</key>
	<string>voicely-trivia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377718733289:ios:144e9324d17a27f6c13378</string>
	<key>DATABASE_URL</key>
	<string>https://voicely-trivia.firebaseio.com</string>
</dict>
</plist>